<%- include("header") -%>
<div class="row">
    <div class="column">
        <div class="center" >
            <h1 class="title">Basic Banking System</h1>
            <a href="/users" class="button">Get Started</a>
        </div>
    </div>
    <div class="column">
        <div class="center" >
            <img class="bank" src="img/bank.svg" alt="Kiwi standing on oval">
        </div>
    </div>
</div>


<%- include("footer") -%>