<%- include("header") -%>
<div class="row">
    <div class="column">
        <div class="center" >
            <h1>Basic Banking System</h1><br>
            <button type="button" onclick="alert('Hello world!')">Click Me!</button>
        </div>
    </div>
    <div class="column">
        <div class="center" >
            <img class="bank" src="img/bank.svg" alt="Kiwi standing on oval">
        </div>
    </div>
</div>


<%- include("footer") -%>