<%- include("header") -%>

    <div class="box" id="heading">
        <h1> <%= title %> </h1>
    </div>

    <!-- <div class="box">
        <div class="row">
                
            <div class="column">
                <div class="header">
                    <p>Name</p>
                </div>
            </div>

            <div class="column">
                <div class="header">
                    <p>Email</p>
                </div>
            </div>

            <div class="column">
                <div class="header">
                    <p>Balance</p>
                </div>
            </div>

            <div class="column">
                <div class="header">
                    <p>Make Transaction</p>
                </div>
            </div>

        </div>

    </div> -->

<%- include("footer") -%>