html {
    background-color: #92c7de;
    background-image: linear-gradient(to right, #49bcd6, #d2ebfa);
    font-family: 'helvetica neue';
}

h1 {
    color: #fff;
    margin: 0%;
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
}

.center {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    opacity: 100%;
}
  

/* .center h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.bank {
    width:50%;
    color: white;
}

.title {
    font-size: 300%;
    color: #15151a;
}

.button {
    position: absolute;
    margin-top: 10%;
    height: 8%;
    width: 20%;
    background-color: #1d64f2;
    color: #fff;
    font-size: 170%;
    font-weight: bold;
    padding: 6px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#heading {
    background-color: #32689b;
    text-align: center;
}

.user {
    min-height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #8fb6cf;
    font-size: 110%;
}
  
.user:last-child {
    border-bottom: 0;
}

.box {
    max-width: 700px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
  
.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 10px;
    justify-content: left;
}

.header {
    font-weight: bolder;
    font-size: 120%;
}

.transaction-button {
    background-color: #1d64f2;
    color: #fff;
    min-width: 125px;
    border-radius: 7%;
}